<main class="w-full h-full flex justify-center items-center">
  <div class="w-[400px]">
    <h2 class="text-4xl text-center">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= f.label :email %></legend>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-full" %>
        <p class="label">Optional</p>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= f.label :password %></legend>
        <%= f.password_field :password, autocomplete: "new-password", class: "input w-full" %>
        <% if @minimum_password_length %>
          <p class="label"><%= @minimum_password_length %> characters minimum</p>
        <% end %>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= f.label :password_confirmation %></legend>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input w-full" %>
        <p class="label">Optional</p>
      </fieldset>

      <div class="actions my-4">
        <%= f.submit "Sign up", class: "btn w-full" %>
      </div>
    <% end %>

    <p class="text-center">Already have an account? <span class="text-blue-500 underline"><%= render "devise/shared/links" %></span></p>
  </div>
</main>


