<%= form_with model: event, class: "w-full max-w-lg p-4 bg-base-100 rounded-lg space-y-6" do |form| %>
  <%# Fieldset per input as per daisyUI pattern %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Title</legend>
    <input type="text"
           name="event[title]"
           value="<%= event.title %>"
           placeholder="E.g., Summer Meetup"
           class="input w-full <%= 'input-error validator' if event.errors.include?(:title) %>">
    <% if event.errors.include?(:title) %>
      <div class="text-error mt-1"><%= "#{:title.capitalize} #{event.errors[:title].first}" %></div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Description</legend>
    <input type="text"
           name="event[description]"
           value="<%= event.description %>"
           placeholder="Short description..."
           class="input w-full <%= 'input-error validator' if event.errors.include?(:description) %>">
    <% if event.errors.include?(:description) %>
      <div class="text-error mt-1"><%= "#{:description.capitalize} #{event.errors[:description].first}" %></div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Location</legend>
    <input type="text"
           name="event[location]"
           value="<%= event.location %>"
           placeholder="City, Venue, etc."
           class="input w-full <%= 'input-error validator' if event.errors.include?(:location) %>">
    <% if event.errors.include?(:location) %>
      <div class="text-error mt-1"><%= "#{:location.capitalize} #{event.errors[:location].first}" %></div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Limit</legend>
    <input type="number"
           name="event[limit]"
           value="<%= event.limit %>"
           placeholder="Max attendees"
           min="1"
           class="input input-md w-full <%= 'input-error validator' if event.errors.include?(:limit) %>">
    <% if event.errors.include?(:limit) %>
      <div class="text-error mt-1"><%= "#{:limit.capitalize} #{event.errors[:limit].first}" %></div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Expiry</legend>
    <input type="datetime-local"
           name="event[expiry]"
           value="<%= event.expiry&.strftime('%Y-%m-%dT%H:%M') %>"
           placeholder="YYYY-MM-DDThh:mm"
           min="<%= Time.current.strftime("%Y-%m-%dT%H:%M") %>"
           class="input input-md w-full <%= 'input-error validator' if event.errors.include?(:expiry) %>">
    <% if event.errors.include?(:expiry) %>
      <div class="text-error mt-1"><%= "#{:expiry.capitalize} #{event.errors[:expiry].first}" %></div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Price</legend>
    <input type="text"
           name="event[price]"
           value="<%= event.price %>"
           placeholder="0.00"
           class="input w-full <%= 'input-error validator' if event.errors.include?(:price) %>">
    <% if event.errors.include?(:price) %>
      <div class="text-error mt-1"><%= "#{:price.capitalize} #{event.errors[:price].first}" %></div>
    <% end %>
  </fieldset>

  <%# Checkbox fieldsets %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Published?</legend>
    <label class="flex items-center space-x-2">
      <input type="checkbox"
             name="event[isPublished]"
             <%= 'checked' if event.isPublished %>
             class="checkbox checkbox-primary <%= 'border-error' if event.errors.include?(:isPublished) %>">
      <span>Yes</span>
    </label>
    <% if event.errors.include?(:isPublished) %>
      <div class="text-error mt-1"><%= event.errors[:isPublished].first %></div>
    <% end %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Public?</legend>
    <label class="flex items-center space-x-2">
      <input type="checkbox"
             name="event[isPublic]"
             <%= 'checked' if event.isPublic %>
             class="checkbox checkbox-primary <%= 'border-error' if event.errors.include?(:isPublic) %>">
      <span>Yes</span>
    </label>
    <% if event.errors.include?(:isPublic) %>
      <div class="text-error mt-1"><%= event.errors[:isPublic].first %></div>
    <% end %>
  </fieldset>

  <button type="submit" class="btn btn-primary w-full sm:w-auto">Save Event</button>
<% end %>
