<% content_for :title, "Events" %>

<div class="w-full overflow-x-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-4xl">Events</h1>
    <%= link_to "New event", new_event_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Limit</th>
        <th>Expiry</th>
        <th>Price</th>
        <th>Published</th>
        <th>Public</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @events.any? %>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.location %></td>
            <td><%= event.limit %></td>
            <td><%= event.expiry.strftime("%b %d, %Y %I:%M %p") %></td>
            <td><%= number_to_currency(event.price) %></td>
            <td><%= event.isPublished ? "✔️" : "✖️" %></td>
            <td><%= event.isPublic ? "✔️" : "✖️" %></td>
            <td class="flex flex-col sm:flex-row gap-2 justify-center">
              <%= link_to "Show", event, class: "btn btn-sm btn-accent" %>
              <%= link_to "Edit", edit_event_path(event), class: "btn btn-sm btn-info" %>
              <%= button_to "Destroy", event, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-error" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="8" class="text-center py-8">No events found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
