<main class="w-full h-full flex justify-center items-center">
  <div class="w-[400px]">
    <h2 class="text-4xl text-center">Log In</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= f.label :email %></legend>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-full" %>
      </fieldset>

      <fieldset class="fieldset">
        <legend class="fieldset-legend"><%= f.label :password %></legend>
        <%= f.password_field :password, autocomplete: "current-password", class: "input w-full" %>
      </fieldset>

      <% if devise_mapping.rememberable? %>
        <fieldset class="fieldset">
          <label class="label">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= f.label :remember_me %>
          </label>
        </fieldset>
      <% end %>

      <div class="actions my-4">
        <%= f.submit "Log in", class: "btn w-full" %>
      </div>
    <% end %>

    <p class="text-center">No account yet? <span class="text-blue-500 underline"><%= render "devise/shared/links" %></span></p>
  </div>
</main>


